#cursor-chat-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

#cursor-chat-layer .cursor > svg {
  position: absolute;
  top: -17.5px;
  left: -17.5px;
  width: 35px;
  height: 35px;
}

#cursor-chat-layer .cursor {
  transition: opacity 1s ease;
}

#cursor-chat-layer .stale, #cursor-chat-layer .new {
  visibility: hidden;
}

#cursor-chat-layer .expiring {
  opacity: 0;
}

#cursor-chat-layer .cursor > p, #cursor-chat-layer #cursor-chat-box {
  display: inline-block;
  margin-top: 1em;
  margin-left: 0.5em;
  padding: 0.6em 1em;
  position: relative;
  border-radius: 20px;
  border: 2px solid #00000011;
  box-shadow: 7px 15px 36px 4px rgba(0,0,0,0.1);
  max-width: 250px;
  border-top-left-radius: 0;
  font-family: sans-serif;
  overflow-wrap: anywhere;
  font-size: 1em;
  min-height: calc(1em + 4px);
}

#cursor-chat-layer #cursor-chat-box {
  display: none;
}

#cursor-chat-layer .chat {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

#cursor-chat-layer .chat.show {
  visibility: visible;
  opacity: 1;
}
